* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f4f4f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  height: 4.3vw;
  width: 100%;
  background: linear-gradient(to right, #061f40, #6155f5);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 5%;
}

.logo img {
  max-height: 80px;
  width: auto;
}

nav ul li {
  font-family: "Alan Sans", sans-serif;
  list-style-type: none;
  display: inline-block;
  padding: 8px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: lightblue;
  transition: 0.3s;
}

.login {
  background-color: white;
  color: #6155f5;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Alan Sans", sans-serif;
  padding: 8px 20px;
}

.login:hover {
  background-color: #6155f5;
  color: white;
  transition: 0.3s;
}

.cadastro {
  background-color: white;
  color: #6155f5;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Alan Sans", sans-serif;
  padding: 8px 20px;
}

.cadastro:hover {
  background-color: #6155f5;
  color: white;
  transition: 0.3s;
}

/* Fundo do Home */

.fundo {
  position: relative;
  background: url("../img/admin.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 60px;
  overflow: hidden;
}

.fundo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.fundo-content {
  position: relative;
  z-index: 2;
  font-family: "Roboto", sans-serif;
}

ul li {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.fundo-content {
  font-family: "Roboto", sans-serif;
}

/* Dashboard */

